body{
    background-color: rgb(2, 25, 56);
    background-image: linear-gradient(rgb(3, 97, 219), rgb(1, 24, 55));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    position: absolute;
    background-color: #8ca6b7;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    min-width: 400px;
    min-height: 150px;
    font-family: 'Protest Strike', sans-serif;
}

input[type="text"]{
    background-color: #a4bac9;
    border: none;
    width: 100%;
}

button{
    width: 50px;
    height: 25px;
}

.darkBlue{
    background-color: #135785;
    color: #ffffff;
}
.grey{
    background-color: #052235;
    color: #ffffff;
}
.blue{
    background-color: #8ca6b7;
    color: #ffffff;
}